* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    overflow: hidden;
    cursor: pointer;
}

#aqi-info {
    opacity: 1;
    position: absolute;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    padding-top: 9rem;
    padding-left: 9rem;
    /* background: linear-gradient(0deg, rgba(255,255,255,0.24833683473389356) 0%, rgba(255,255,255,1) 100%); */ 
    transition: all 1s ease-in;
    pointer-events: none;
}

#aqi-info.fade-in {
    opacity: 0
}

.good {
    background: linear-gradient(0deg, rgba(255,255,255,0.24833683473389356) 0%, rgba(225,255,217,1) 100%);
}

.moderate {
    background: linear-gradient(0deg, rgba(255,255,255,0.24833683473389356) 0%, rgba(254,255,217,1) 100%);
}

.sensitive {
    background: linear-gradient(0deg, rgba(255,255,255,0.24833683473389356) 0%, rgba(255,237,217,1) 100%);
}

.unhealthy {
    background: linear-gradient(0deg, rgba(255,255,255,0.24833683473389356) 0%, rgba(255,217,217,1) 100%);
}

.very-unhealthy {
    background: linear-gradient(0deg, rgba(255,255,255,0.24833683473389356) 0%, rgba(231,217,255,1) 100%);
}

.particle {
    margin-bottom: 1.5rem;
    color: #363636;
    background-color: transparent;
}

.aqi {
    background-color: transparent;
    font-size: 9rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.aqi-unit {
    background-color: transparent;
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: normal;
}

.city, .country {
    background-color: transparent;
    color: #363636;
    font-size: 2.4rem;
    font-weight: 200;
    line-height: 1.;
}

.city {
    font-weight: normal;
}

.main {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.btn {
    cursor: pointer;
    position: absolute;
    z-index: 150;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem 2.5rem 2rem 2.5rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 4rem;
    outline: none;
    transition: all .4s ease-in;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 1);
}

video {
    position: absolute;
    width: 100vw;
    transform: rotateY(180deg);
    z-index: 1;
}

.filter-moderate--noise {
    position: absolute;
    z-index: 100;
    background-image: url("noise/moderate.png");
    width: 100vw;
    height: 100vh;
    mix-blend-mode: multiply;
}

.filter-moderate--color {
    position: absolute;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: #EFEBE2;
    opacity: 20%;
}

.filter-sensitive--noise {
    position: absolute;
    z-index: 100;
    background-image: url("noise/unhealthy-sensitive.png");
    width: 100vw;
    height: 100vh;
    mix-blend-mode: multiply;
}

.filter-sensitive--color {
    position: absolute;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: #DEDAD0;
    opacity: 30%;
}

.filter-unhealthy--noise {
    position: absolute;
    z-index: 100;
    background-image: url("noise/unhealthy.png");
    width: 100vw;
    height: 100vh;
    mix-blend-mode: multiply;
}

.filter-unhealthy--color {
    position: absolute;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: #B8B3A6;
    opacity: 40%;
}

.filter-veryunhealthy--noise {
    position: absolute;
    z-index: 100;
    background-image: url("noise/very-unhealthy.png");
    width: 100vw;
    height: 100vh;
    mix-blend-mode: multiply;
}

.filter-veryunhealthy--color {
    position: absolute;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: #9F9B91;
    opacity: 50%;
}

@media screen and (max-width: 600px) {
    #aqi-info {
        padding-left: 3rem;
    }
    
    video {
        width: auto;
        height: 100vh;
    }

    .btn {
        width: calc(100vw - 6rem);
        font-size: 1.6rem;
    }
}